/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL */
body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* KEYFRAMES */
@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}

.sock {
  width: 60px;
  height: auto;
}

.animate-rain {
  animation: rain 8s linear infinite;
}
